body.custom-cursor * {
  cursor: none;
}

div#cursor {
  position: fixed;
  top: -.325vw;
  left: -.325vw;
  width: .65vw;
  height: .65vw;
  border-radius: 50%;
  color: var(--color-foreground);
  background-color: currentColor;
  pointer-events: none;
  z-index: 5;
}

@media (orientation: portrait) {
  div#cursor {
    top: -.35vh;
    left: -.35vh;
    width: .7vh;
    height: .7vh;
  }
}
