main {
  position: relative;
}

.dot {
  width: .65vw;
  height: .65vw;
  border-radius: 100%;
  background-color: var(--color-foreground);
  position: absolute;
}

.dot.accent {
  background-color: var(--color-accent);
}

.dot.light {
  background-color: var(--color-background);
}

.dots-constellation {
  height: 100%;
  width: 40vh;
  position: absolute;
  right: 0;
  top: 0;
}

@media (orientation: portrait) {
  .dot {
    width: .7vh;
    height: .7vh;
  }
}
