main {
  background-color: var(--color-section);
  font-size: calc(10px + 5vw);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 3rem;
}

article p {
  margin: 0;
  padding: .2em .4em 0 .4em;
  background-color: var(--color-foreground);
  color: var(--color-background);
  line-height: 1;
}

article p:last-of-type {
  padding-bottom: .2em;
}
