main {
  padding-right : calc(1rem + 1vw);
  padding-left  : calc(1rem + 1vw);
}

#blog ul {
  column-count: 2;
  column-gap: 0;
}

#blog ul li {
  break-inside: avoid;
  margin: 0 1vw 2vw;
  position: relative;
}

#blog ul li > div {
  pointer-events: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1vw);
  text-align: center;
}

#blog ul li:hover > div {
  display: flex;
  font-size: .9em;
}

#blog ul li > div h2 {
  color: var(--color-foreground);
  margin: 0 0 .5em 0;
  line-height: 1;
}

#blog ul li > div p {
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: var(--color-accent);
  font-size: .8em;
  letter-spacing: .15em;
}

#blog ul li > a {
  display: block;
  line-height: 0;
}

#blog ul li > a img {
  width: 100%;
  height: auto;
}
