@keyframes intro {
  0%   { transform: translate(0, 0); opacity: 1 }
  99%  { transform: translate(0, 0); opacity: 0 }
  100% { transform: translate(-100%, 0) }
}

@keyframes intro-text {
  0%   { opacity: 0; transform: scale(1.05) }
  50%  { opacity: 1; transform: scale(1) }
  85%  { opacity: 1; transform: scale(1) }
  100% { opacity: 0; transform: scale(.95) }
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: none;

  /* @keyframes duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name */
  animation: .3s ease-out 3s both intro;
}

#intro p {
  color: var(--color-foreground);
  font-size: 2rem;
  font-weight: bold;
  animation: 3s ease-in-out both intro-text;
}

#intro span {
  color: var(--color-accent);
}
