#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, .7);
  margin: 0;
  padding: 5vh calc(2em + 5vw);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


body.admin-bar #lightbox {
  padding-top: calc(46px + 5vh);
}

#lightbox:not([hidden]) {
  display: flex;
}

#lightbox img {
  background-color: var(--color-background);
  max-height: 100%;
  margin: 0 auto;
}

#lightbox svg {
  position: absolute;
  stroke: #fff;
  height: 2rem;
  width: auto;
  padding: 1rem;
}

#lightbox .close {
  top: 0;
  right: 0;
  height: 1.3rem;
  stroke-width: 1.8;
}

body.admin-bar #lightbox .close {
  top: calc(1rem + 46px);
}

#lightbox .arrow.left {
  left: 0;
}

#lightbox .arrow.right {
  right: 0;
}
