/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root {
  --color-background: #fff;
  --color-foreground: #000;
  --color-section: #f5f5f5;
  --color-accent: #2f37b8;
  --font-main: "sofia-pro", Helvetica, Arial, sans-serif;
  --margin-nav: calc(1rem + 2vw);
}

::selection {
  background: var(--color-accent);
  color: var(--color-background);
}

html, body {
  height: 100%;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-main);
  font-size: calc(14px + .5vw);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--color-accent);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  color: var(--color-accent);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-shrink: 0;
  padding-bottom: .5rem;
}

header h1 {
  font-size: 1.5rem;
  padding: .5rem var(--margin-nav);
}

header h1 a:hover span {
  color: var(--color-foreground);
}

nav {
  border-top: .4rem solid var(--color-accent);
  padding-right: var(--margin-nav);
  font-weight: bold;
  font-size: .7em;
  letter-spacing: .1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  display: flex;
  align-items: center;

  &.current_page_item a {
    color: var(--color-accent);
  }
}

nav a {
  white-space: nowrap;
  display: inline-block;
  padding: .4em 0;
}

nav ul li:not(:last-child)::after,
.after-dash::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid var(--color-foreground);
  width: 1em;
  margin: 0 .8em;
}

main {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0 8vw 4rem 8vw;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dash {
  display: inline-block;
  border-bottom: 2px solid currentColor;
  width: 1em;
  vertical-align: .3em;
  margin: 0 .8em;
}

@media (max-width: 450px) {
  nav ul li:not(:last-child) {
    margin-right: 5vw;
  }

  nav ul li:not(:last-child)::after {
    display: none;
  }
}
