@keyframes title {
  0%   { opacity: 0; transform: scale(1.05) }
  100% { opacity: 1; transform: scale(1) }
}

main {
  padding-right: var(--margin-nav);
  padding-left: var(--margin-nav);
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
}

article a {
  color: var(--color-accent);
}

article a:hover {
  color: var(--color-foreground);
}

#about-header {
  position: relative;
  flex-shrink: 0;
}

h2 {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1;
  font-size: 3em;
  animation: 1.3s ease-in-out .5s both title;
}

img[class*="post-thumbnail"] {
  height: auto;
  width: 15rem;
  margin-left: 6rem;
}

#about-content {
  max-width: 32em;
  margin-left: 5%;
  margin-right: calc(2rem + 2vw);
  font-weight: 600;
}

pre {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7em;
  font-family: var(--font-main);
}

#menu-socials {
  position: absolute;
  right: var(--margin-nav);
}

#menu-socials li {
  margin: .3em 0;
}

#menu-socials svg {
  fill: var(--color-foreground);
  width: 1em;
}

#menu-socials a:hover svg {
  fill: var(--color-accent);
}

@media (max-width: 700px) {
  main, article {
    flex-direction: column;
  }

  img[class*="post-thumbnail"] {
    height: 12em;
    width: auto;
  }

  #about-content {
    margin-left: 0;
    margin-right: 0;
  }

  #menu-socials {
    position: inherit;
  }

  #menu-socials li {
    display: inline;
    margin: 0 .3em;
  }
}
