h2 {
  font-size: 2em;               /* TODO it looks like this is repeated */
}

picture.process {
  display: block;
  margin: 4rem 0;
}

main ul {
  font-weight: bold;
  max-width: 26em;
  font-size: 1.2em;
}

main ul li {
  display: inline-block;
  margin-right: .4em;
}

main ul li::before {
  content: '_';
}
