main {
  background-color: var(--color-section);
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

article {
  margin-bottom: 3rem;
  position: relative;
}

h2 {
  font-size: calc(12px + 4vw);
  margin: 0;
}
