main {
  padding: 0;
}

#single > *:not(.full) {
  margin-left  : 10vw;
  margin-right : 10vw;
}

h2 {
  color: var(--color-foreground);
}

p {
  max-width: 40em;
  font-size: .8em;
}

figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

figure img {
  width: 100%;
}

figure:first-of-type {
  margin-top: 0;
}

.wp-block-spacer {
  height: 4em !important;
}

@media (max-width: 700px) {
  .wp-block-spacer {
    height: 4vh !important;
  }
}
