@font-face {
  font-family: 'sofia-pro';
  src: url('sofia-pro-medium.eot');
  src: url('sofia-pro-medium.eot?#iefix') format('embedded-opentype'),
       url('sofia-pro-medium.woff2') format('woff2'),
       url('sofia-pro-medium.woff') format('woff'),
       url('sofia-pro-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofia-pro';
  src: url('sofia-pro-semibold.eot');
  src: url('sofia-pro-semibold.eot?#iefix') format('embedded-opentype'),
       url('sofia-pro-semibold.woff2') format('woff2'),
       url('sofia-pro-semibold.woff') format('woff'),
       url('sofia-pro-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'sofia-pro';
  src: url('sofia-pro-bold.eot');
  src: url('sofia-pro-bold.eot?#iefix') format('embedded-opentype'),
       url('sofia-pro-bold.woff2') format('woff2'),
       url('sofia-pro-bold.woff') format('woff'),
       url('sofia-pro-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
