<head>
  <meta charset="<?php bloginfo( 'charset' ); ?>" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="msapplication-tap-highlight" content="no" />

  <meta name="author" content="Amanda & Irek">
  <meta name="keywords" content="aw">
  <meta name="description" content="<?php bloginfo( 'description' ) ?>" />

  <link rel="icon" href="<?php echo THEME_PATH; ?>/favicon.png?v=2">
  <link rel="pingback" href="<?php bloginfo( 'pingback_url' ); ?>" />

  <title><?php wp_title(); ?></title>

  <!--[if lt IE 9]>
    <script>
      {% include "src/js/libs/html5shiv.min.js" %}
    </script>
  <![endif]-->

  <link
  rel="stylesheet"
  type="text/css"
  href="<?php echo THEME_PATH; ?>/fonts/fonts.css" />

  <style type="text/css">{% include "tmp/main.css" %}</style>

  <?php wp_head(); ?>
</head>
