{% extends "src/layout.nunjucks" %}

{% block main %}
<style type="text/css">
  {% include "tmp/index.css" %}
</style>

<?php if (have_posts()): ?>
  <article id="blog">
    <ul>
      <?php while (have_posts()): the_post() ?>
        <?php if (has_post_thumbnail()): ?>
          <li>
            <a
              href="<?php echo get_post_permalink() ?>"
              title="<?php echo get_the_title() ?>">
              <?php the_post_thumbnail('large') ?>
            </a>
            <div>
              <h2><?php the_title() ?></h2>
              <p><?php echo get_the_tag_list('', ', ') ?></p>
            </div>
          </li>
        <?php endif ?>
      <?php endwhile; wp_reset_postdata() ?>
    <ul>
  </article>
<?php endif ?>

{% endblock %}
